.fixed-200 {
  width: 200px;
  /*
  -ms-flex: 0 0 200px !important;
  flex: 0 0 200px !important;
  */
}
.fixed-200 img {
  width: 170px !important;
  height: auto !important;
}
.three {
  width: 33%;
}
table.date-info {
  width: 100%;
}
/*
.catalogus-list-contact {
  clear:left;
  overflow: auto;
}
.catalogus-list-contact figure {
  float:left;
  max-width: 120px;
  margin-right: 1rem;
}
*/
.view-catalogus-personal-assignments .view-footer, .view-catalogus-community-assignments .view-footer, .view-catalogus-personal-connections .view-footer, .view-catalogus-community-connections .view-footer, .view-catalogus-emails .view-footer, .view-catalogus-telephone-numbers .view-footer, .view-catalogus-addresses .view-footer, .view-catalogus-websites .view-footer, .view-catalogus-personal-ministries .view-footer, .view-catalogus-personal-names .view-footer, .view-catalogus-community-names .view-footer {
  background-color: #FAF3E9;
}
.subcommunity {
  margin-left: 10%;
  font-style: italic;
}
.view-catalogus-personal-assignments .row img {
  width: 100%;
  height: auto;
}
.field--name-community-faces-computed-field h2.node__title {
  font-size: 1rem;
  margin-bottom: 0;
}
.view-content table caption {
  caption-side: top;
  font-size: 2.0rem;
}
@media (min-width: 560px) {
  .field--name-community-faces-computed-field .node .field--type-image {
    float: none;
    margin: 0;
  }
}
.commas {
  padding-left: 1rem;
  padding-right: 1rem;
}
.commas::after {
  content: ",";
}
.commas:last-child::after {
  content: "";
}
.inline, .inline div {
  display: inline;
}
table.table a {
  color: #0079c0;
}
table.table th, table.table td {
  padding-top: .4rem;
  padding-bottom: .4rem;
}
.tl-timeline {
  margin-left: 15px;
  margin-right: 15px;
}
div.catalogus-list-position > div:first-child {
  text-align: right;
}
.commission-members {
  padding-left: 15px;
}
strong {
  font-weight: 600;
}
blockquote {
  margin: 0 0 0 15px;
}
.print-listing .field--name-addresses-computed-field, .print-listing .field--name-telephones-computed-field, .print-listing .field--name-emails-computed-field, .print-listing .field--name-websites-computed-field {
  margin: 0;
}
.field--name-field-community-photos .field--type-entity-reference, .field--name-field-community-photos .field--type-image {
  margin: 0;
}
h2.divider {
  text-align: center;
}
.node--view-mode-teaser h2 a {
  /* color: #0079C0; */
}
.node--view-mode-teaser {
    border-bottom: none;
    margin-bottom: 0rem;
    padding-bottom: 1rem;
}
p.address {
  margin-bottom: 0;
}

/* MegaMenu */

.tb-megamenu .mega-inner {
    padding: 0px !important;
}
.tb-megamenu .dropdown-menu {
    padding: 10px !important;
}
.tb-megamenu .span12.mega-col-nav .mega-inner {
}
.tb-megamenu .mega-group-ct {
 
}
.tb-megamenu .mega-nav li a, .tb-megamenu .mega-nav li span.tb-megamenu-no-link {
    padding: .5rem .1rem !important;
}


/* Congregations  */

.view-congregations .views-field-description__value-1 {
	float: right;
}
.view-congregations h3 {
	margin-left: 2rem;
}
.view-congregations .views-row {
	margin-left: 4rem;
}
.view-congregations h4, .view-congregations h3, .view-congregations h2 {
	margin-top: .5rem;
	margin-bottom: 0;
}

/* Lay Chapters and Houses */
.view-friars-houses h3,
.view-laity-chapters h3 {
	float: left;
	width: 25%;
	text-align: right;
	padding-right: 1rem;
}
.view-friars-houses .views-row,
.view-laity-chapters .views-row {
	margin-left: 25%;
	padding-left: 1rem;
	margin-bottom: .8rem;
	padding-top: .2rem;
}
.view-friars-houses h4,
.view-laity-chapters h4{
	margin-bottom: 0;
}
.view-friars-houses h4,
.view-laity-chapters h4{
	margin-bottom: 0;
}
.view-friars-houses span.locality,
.view-laity-chapters span.locality{
	font-weight: bold;
}

/* Personal Listings */
.contact-info {
  width: 100%;
}
.contact-info::after {
  content: "";
  clear: both;
  display: table;
}
.contact-info .tels {
  white-space: nowrap;
  float: left;
}
.contact-info .emails {
  white-space: nowrap;
  float: right;
  text-align: right;
}

/* List Positions */
.left-half {
  white-space: nowrap;
  float: left; 
  text-align: right;
  min-width: 50%;
  padding-right: 1rem;
}
.right-half {
  white-space: nowrap;
  float: right; 
  text-align: left;
  min-width: 50%;
  padding-left: 1rem;
}

/* Statistics */
table.statistics td, table.statistics th {
    padding: .5rem;
}
table.statistics {
  border-collapse: collapse;
}
table.statistics, table.statistics td, table.statistics th {
  border: 1px solid black;
}

/* For Listings by City */

.view-catalogus-city-listing .field--name-field-assignations, 
.view-catalogus-city-listing .field--name-field-associated-people {
  margin-left: 2rem;
  margin-top: 1rem;
}
.view-catalogus-city-listing .assignation,
.view-catalogus-city-listing .connection {
  text-indent: -2rem;
}
