@font-face {
  font-family: "Cinzel";
  src: url("cinzel/Cinzel-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Cinzel";
  font-weight: bold;
  src: url("cinzel/Cinzel-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Times New Roman";
  src: url("TimesNewRoman/Times New Roman.ttf") format("truetype");
}
@font-face {
  font-family: "Times New Roman";
  font-weight: bold;
  src: url("TimesNewRoman/Times New Roman Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Times New Roman";
  font-style: italic;
  src: url("TimesNewRoman/Times New Roman Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Times New Roman";
  font-weight: bold;
  font-style: italic;
  src: url("TimesNewRoman/Times New Roman Bold Italic.ttf") format("truetype");
}
html {
  font-size: 10pt;
}
body {
  font-family: "Times New Roman";
}
h1, h2, h3, h4 {
  font-family: "Cinzel";
  font-weight: 400;
}
p {
  display: block;
  margin-top: 0pt;
  margin-bottom: 0pt;
}
.subcommunity {
  margin-left: 10%;
  font-style: italic;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.0;
}
h1, h2, h3, h4 {
  page-break-inside: avoid;  
  page-break-after: avoid;
}
h1 {
/*  page-break-before: always; */
  font-size: 1.75rem
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem
}
.summary h2 {
  margin-top: 0;
}
h3 {
  margin-top: 1rem;
  font-size: 1.25rem
}
h4 {
  margin-top: 1rem;
  font-size: 1.0rem
}
a {
  color: black;
  text-decoration: none;
}
figure {
  margin: 0;
}
.row {
  margin: 0 -1% 0 -1%;
}
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-4sp, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-md-4, .col-md-6, .col-md-8, .col-lg-6 {
  float: left;
  margin: 0 1% 0 1%;
}
.col-1 {
  width: 6%;
}
.col-2 {
  width: 15%;
}
.col-3 {
  width: 23%;
}
.col-4, .col-md-4 {
  width: 31%;
}
.col-4sp {
  min-width: 31%;
  white-space: nowrap;
}
.col-5 {
  width: 40%;
}
.col-6, .col-md-6 {
  width: 48%;
}
.col-7 {
  width: 56%;
}
.col-8, .col-md-8 {
  width: 65%;
}
.col-9 {
  width: 73%;
}
.col-10 {
  width: 81%;
}
.col-11 {
  width: 90%;
}
.col-lg-6 {
  width: 48%;
}
.node__meta {
  display: none;
}

/* List Position */

.catalogus-list-position div:first-child {
  text-align: right;
}
.right {
    text-align: right;
}

strong {
  font-weight: 600;
}
blockquote, .field--name-field-current-address, .field--name-field-telephone, .field--name-field-emails, .field--name-field-website, .views-field-field-current-address, .views-field-field-emails, .views-field-field-telephone, .website {
  margin: 0 0 0 2rem;
}
.summary .field--name-field-telephone, .summary .field--name-field-emails {
  margin: 0;
}
h2.divider {
  text-align: center;
}

/*List by profession and ordination */

/*

.view-id-catalogus_first_professions .view-grouping {
  width: 300pt;
  line-height: 11pt;
  margin-top: 11pt;
  margin-bottom: 0;
  page-break-inside: avoid;
  clear: left;
  font-size: 11pt;
}
.view-id-catalogus_first_professions .view-grouping-header {
  float: left;
  width: 40pt;
}
.view-id-catalogus_first_professions .view-grouping-content {
  float: left;
}
.view-id-catalogus_first_professions .view-grouping-content h3 {
  float: left;
  width: 50pt;
  font-size: 11pt;
  line-height: 11pt;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  white-space: nowrap;
  font-family: Roboto, Verdana, "sans-serif";
}
.view-id-catalogus_first_professions .view-grouping-content .person {
  margin-left: 60pt;
  width: 200pt;
  white-space: nowrap;
}

*/

.view-id-catalogus_first_professions .view-grouping,
.view-id-catalogus_ordinations .view-grouping, 
.keep-together {
  margin-top: 11pt;
  page-break-inside: avoid;
}

/* List by Dates */
.view-id-catalogus_first_professions .view-grouping:after,
.view-id-catalogus_ordinations .view-grouping:after {
  clear: left;
  display: table;
  content: "";
}
.view-id-catalogus_first_professions .view-grouping-header,
.view-id-catalogus_ordinations .view-grouping-header {
  float: left;
  width: 50pt;
}
.view-id-catalogus_first_professions .view-grouping-content,
.view-id-catalogus_ordinations .view-grouping-content {
  float: left;
}
.view-id-catalogus_first_professions .view-grouping-content time,
.view-id-catalogus_ordinations .view-grouping-content time {
  float: left;
}
.view-id-catalogus_first_professions .view-grouping-content span.day time,
.view-id-catalogus_ordinations .view-grouping-content span.day time {
  white-space: nowrap;
}
.view-id-catalogus_first_professions .view-grouping-content h3,
.view-id-catalogus_ordinations .view-grouping-content h3 {
  display: none;
}
.view-id-catalogus_first_professions .view-grouping-content .person,
.view-id-catalogus_ordinations .view-grouping-content .person {
  margin-left: 65pt;
  white-space: nowrap;
}

/* Necrology */

.view-catalogus-necrology .view-grouping {
  margin-top: 0pt;
}
.view-catalogus-necrology .month {
  margin-top: 11pt;
  margin-bottom: 11pt;
  text-align: center;
}
.view-catalogus-necrology .view-grouping-content .view-grouping-header {
  float: left;
}
.view-catalogus-necrology .view-grouping .view-grouping {
  page-break-inside: avoid;  
}
.view-catalogus-necrology .view-grouping-content h3 {
  display: none;
  font-size: 11pt;
}
.view-catalogus-necrology .view-grouping div.month {
  font-size: 1.5rem;
  font-family: Cinzel;
}
.view-catalogus-necrology .view-grouping .view-grouping .view-grouping-content div.day {
  display: none;
}
.view-catalogus-necrology .view-grouping .view-grouping div.day {
  height: 13px;
}
.view-catalogus-necrology .view-grouping-content .views-row {
  margin: 0 0 3px 25pt;
  height: 1.2rem;
  white-space: nowrap;
}
.catalogus-list-contact {
}
.catalogus-list-contact figure {
}
.catalogus-list-contact figure img {
  max-width: 100%;
  height: auto;
}
.view-grouping-header {
  page-break-after: avoid;
}

/* Sisters  */

.view-congregations .views-field-description__value-1 {
	float: right;
}
.view-congregations h3 {
	margin-left: 2rem;
}
.view-congregations .views-row {
	margin-left: 4rem;
}
.view-congregations h4, .view-congregations h3, .view-congregations h2 {
	margin-top: .5rem;
	margin-bottom: 0;
}
.view-congregations .view-grouping-content  h3 {
  page-break-after: avoid;
}
.view-congregations .view-grouping-content .views-row {
  page-break-inside: avoid;
}
.view-congregations h3 + div.views-row {
  page-break-before: avoid;
}
.view-congregations h3 {
  page-break-after: avoid;
}


/* Brothers */

.view-outside-brothers-assigned-to-our-houses .field--name-field-telephone,
.view-outside-brothers-assigned-to-our-houses .field--name-field-emails,
.view-other-brothers-living-in-province .field--name-field-telephone,
.view-other-brothers-living-in-province .field--name-field-emails,
.view-catalogus-list-brothers .field--name-field-telephone,
.view-catalogus-list-brothers .field--name-field-emails {
  margin: 0;
}
.fixed-200 {
  width: 100px;
}
.fixed-200 img {
  width: 100%;
  height: auto;
}
.three {
  width: 33%;
}
table.date-info {
  width: 100%;
}
table {
  border-spacing: 0;
}
.row.print-listing {
  page-break-inside: avoid;
}
.view-outside-brothers-assigned-to-our-houses h2,
.view-other-brothers-living-in-province h2,
.view-catalogus-list-brothers h2 {
  margin: 0;
  font-size: 1.3em;
}
.contact-info {
  width: 100%;
}
.contact-info .tels {
  white-space: nowrap;
  float: left;
}
.contact-info .emails {
  white-space: nowrap;
  float: right;
  text-align: right;
}

/* Lay Chapters and Houses */
.view-friars-houses h3,
.view-laity-chapters h3 {
	float: left;
	width: 25%;
	text-align: right;
	padding-right: 1rem;
  margin-top: 0;
}
.view-friars-houses .views-row,
.view-laity-chapters .views-row {
	margin-left: 25%;
	padding-left: 1rem;
	margin-bottom: 1rem;
	page-break-inside: avoid;
}
.view-friars-houses h4,
.view-laity-chapters h4{
	margin-bottom: 0;
}
.view-friars-houses h4,
.view-laity-chapters h4{
	margin-bottom: 0;
}
.view-friars-houses span.locality,
.view-laity-chapters span.locality{
	font-weight: bold;
}

/* For Listings by City */
.list-by-city h3 a {
  display: none;
}
.list-by-city .organization {
  font-size: 1.2rem;
  margin-left: -2rem;
  font-family: Cinzel;
  font-weight: bold;
}
.list-by-city .address {
 /*  margin-top: 20pt; */
}
.subcommunity {
  margin-top: 12pt;
  page-break-after: avoid;
}
.subcommunity.positions, .subcommunity.total {
  display: none;
}
.field--name-field-assignations, .field--name-field-associated-people {
  margin-left: 2rem;
  margin-top: 1rem;
}
.assignation, .connection {
  text-indent: -2rem;
}

/* List Positions */
.left-half {
  white-space: nowrap;
  float: left; 
  text-align: right;
  min-width: 48%;
  padding-right: .5rem;
}
.right-half {
  white-space: nowrap;
  float: right; 
  text-align: left;
  min-width: 48%;
  padding-left: .5rem;
}

/* Statistics */
table.statistics td, table.statistics th {
    padding: .5rem;
}
table.statistics {
  border-collapse: collapse;
}
table.statistics, table.statistics td, table.statistics th {
  border: 1px solid black;
}
.view-chart-of-brothers-by-age tfoot div.label {
  display: inline;
}

/* Priestly Fraternities */
.view-priestly-fraternities .notes {
  margin-bottom: 1rem;
  page-break-after: avoid;
}
