<table class="summary">
  <tr>
    <td valign="top" class="fixed-200">
      {{ content.field_media_image }}
    </td>
    <td valign="top">
      <h2 class="headline"><a href="{{ url }}">{{ content.field_sort_name }}</a></h2>
      <table class="date-info">
        <tr>
          <td class="three">
            {{ content.field_birth }}
          </td>
          <td class="three">
            {{ content.field_first_vows }}
          </td>
          <td class="three">
            {{ content.field_ordination }}
          </td>
        </tr>
      </table>
      <table class="contact-info">
        <tr>
          <td class="tels">
            {{ content.field_telephone }}
          </td>
          <td class="emails">
            {{ content.field_emails }}
          </td>
        </tr>
      </table>
      <div>
        {{ content.field_summary }}
      </div>
    </td>
  </tr>
</table>
